In [1]:
# A date picker callback

In [1]:
from jupyter_dash import JupyterDash
import pandas as pd
import plotly.express as px
from dash import Dash, html, dcc
from dash.dependencies import Input, Output
from datetime import datetime, date

In [2]:
ecom_sales = pd.read_csv('../dataset/ecom_sales.csv',sep=';')

In [3]:
ecom_sales

,Unnamed: 0,InvoiceNo,UnitPrice,OrderValue,Quantity,Country,InvoiceDate,InvoiceTime,Year-Month,Major Category,Minor Category,Description
0,0,549185,0.85,10.20,12,United Kingdom,7/4/11,09:35,2011-04,Clothes,Tops,PACK OF 20 NAPKINS PANTRY DESIGN
1,1,576381,2.95,35.40,12,United Kingdom,15/11/11,09:26,2011-11,Clothes,Shoes,NATURAL SLATE HEART CHALKBOARD
2,2,551192,1.25,20.00,16,United Kingdom,27/4/11,10:54,2011-04,Kitchen,Cutlery,36 PENCILS TUBE SKULLS
3,3,573553,7.46,7.46,1,United Kingdom,31/10/11,13:48,2011-10,Garden,Turf,SET 6 SCHOOL MILK BOTTLES IN CRATE
4,4,539436,2.51,2.51,1,United Kingdom,17/12/10,14:49,2010-12,Garden,Hoses,FINE WICKER HEART
...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,564087,1.25,20.00,16,Hong Kong,23/8/11,09:38,2011-08,Clothes,Tops,WOOD STAMP SET THANK YOU
696,696,553148,0.55,13.20,24,Hong Kong,13/5/11,14:09,2011-05,Garden,Hoses,GREEN POLKADOT BOWL
697,697,564087,4.95,29.70,6,Hong Kong,23/8/11,09:38,2011-08,Garden,Rakes,TOY TIDY SPACEBOY
698,698,553148,0.85,27.20,32,Hong Kong,13/5/11,14:09,2011-05,Kitchen,Cooking Knives,RED RETROSPOT CHILDRENS UMBRELLA
699,699,564087,1.25,20.00,16,Hong Kong,23/8/11,09:38,2011-08,Clothes,Tops,PACK OF 60 SPACEBOY CAKE CASES

In [5]:
logo_link = 'https://assets.datacamp.com/production/repositories/5893/datasets/fdbe0accd2581a0c505dab4b29ebb66cf72a1803/e-comlogo.png'

In [4]:
sales = ecom_sales.copy(deep=True)

In [5]:
sales

,Unnamed: 0,InvoiceNo,UnitPrice,OrderValue,Quantity,Country,InvoiceDate,InvoiceTime,Year-Month,Major Category,Minor Category,Description
0,0,549185,0.85,10.20,12,United Kingdom,7/4/11,09:35,2011-04,Clothes,Tops,PACK OF 20 NAPKINS PANTRY DESIGN
1,1,576381,2.95,35.40,12,United Kingdom,15/11/11,09:26,2011-11,Clothes,Shoes,NATURAL SLATE HEART CHALKBOARD
2,2,551192,1.25,20.00,16,United Kingdom,27/4/11,10:54,2011-04,Kitchen,Cutlery,36 PENCILS TUBE SKULLS
3,3,573553,7.46,7.46,1,United Kingdom,31/10/11,13:48,2011-10,Garden,Turf,SET 6 SCHOOL MILK BOTTLES IN CRATE
4,4,539436,2.51,2.51,1,United Kingdom,17/12/10,14:49,2010-12,Garden,Hoses,FINE WICKER HEART
...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,564087,1.25,20.00,16,Hong Kong,23/8/11,09:38,2011-08,Clothes,Tops,WOOD STAMP SET THANK YOU
696,696,553148,0.55,13.20,24,Hong Kong,13/5/11,14:09,2011-05,Garden,Hoses,GREEN POLKADOT BOWL
697,697,564087,4.95,29.70,6,Hong Kong,23/8/11,09:38,2011-08,Garden,Rakes,TOY TIDY SPACEBOY
698,698,553148,0.85,27.20,32,Hong Kong,13/5/11,14:09,2011-05,Kitchen,Cooking Knives,RED RETROSPOT CHILDRENS UMBRELLA
699,699,564087,1.25,20.00,16,Hong Kong,23/8/11,09:38,2011-08,Clothes,Tops,PACK OF 60 SPACEBOY CAKE CASES

In [7]:
zagregowany = sales.groupby("Major Category")["OrderValue"].agg("sum")

In [8]:
zagregowany

Major Category
Clothes      4950.37
Garden       6040.08
Household    4986.58
Kitchen      6407.90
Name: OrderValue, dtype: float64

In [9]:
zagregowany2 = sales.groupby("Major Category")["OrderValue"].agg("sum").reset_index(name="total Sales ($)")

In [10]:
zagregowany2

  Major Category  total Sales ($)
0        Clothes          4950.37
1         Garden          6040.08
2      Household          4986.58
3        Kitchen          6407.90

In [6]:
# zmiana typu kolumny na date
ecom_sales['InvoiceDate'] = pd.to_datetime(ecom_sales['InvoiceDate'])
ecom_sales.head()

,Unnamed: 0,InvoiceNo,UnitPrice,OrderValue,Quantity,Country,InvoiceDate,InvoiceTime,Year-Month,Major Category,Minor Category,Description
0,0,549185,0.85,10.20,12,United Kingdom,2011-07-04,09:35,2011-04,Clothes,Tops,PACK OF 20 NAPKINS PANTRY DESIGN
1,1,576381,2.95,35.40,12,United Kingdom,2011-11-15,09:26,2011-11,Clothes,Shoes,NATURAL SLATE HEART CHALKBOARD
2,2,551192,1.25,20.00,16,United Kingdom,2011-04-27,10:54,2011-04,Kitchen,Cutlery,36 PENCILS TUBE SKULLS
3,3,573553,7.46,7.46,1,United Kingdom,2011-10-31,13:48,2011-10,Garden,Turf,SET 6 SCHOOL MILK BOTTLES IN CRATE
4,4,539436,2.51,2.51,1,United Kingdom,2010-12-17,14:49,2010-12,Garden,Hoses,FINE WICKER HEART

In [8]:
app =  Dash(__name__)

In [9]:
min_date = ecom_sales['InvoiceDate'].min()
min_date

Timestamp('2010-01-12 00:00:00')

In [10]:
app.layout =  html.Div([
    html.Img(src=logo_link),
    html.H1('Sales breakdown'),
    html.Div(children=[
        html.H2('Controls'),
        html.Br(),
        html.H3('Sale Date Select'),
        dcc.DatePickerSingle(id='sale_date',
                             min_date_allowed=ecom_sales['InvoiceDate'].min(), max_date_allowed=ecom_sales['InvoiceDate'].max(),
                             initial_visible_month=date(2011,4,1), date=date(2011,4,11))
    ]),
    html.Div(children=[
        dcc.Graph(id='sales_cat'),
        html.H2('Daily sales by Major Category')
    ])
])

In [11]:
@app.callback(
    Output(component_id='sales_cat', component_property='figure'),
    Input(component_id='sale_date', component_property='date')
)
def update_plot(input_date):
    sales = ecom_sales.copy(deep=True)
    if input_date:
        sales = sales[sales['InvoiceDate']== input_date]
    ecom_bar_major_cat = sales.groupby('Major Category')['OrderValue'].agg('sum').reset_index(name='Total Sales ($)')
    bar_fig_major_cat = px.bar(title=f'Sales on: {input_date}',data_frame=ecom_bar_major_cat, orientation='h', x='Total Sales ($)', y='Major Category')
    return bar_fig_major_cat

In [13]:
if __name__ == '__main__':
    app.run_server(mode='jupyter_lab')

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

TypeError: run_simple() got an unexpected keyword argument 'mode'